<div class="game-rulebook-container">
  <div class="setup-container">
    <h2 class="rule-section-title">Game Setup</h2>
    <div class="rule">
      <h3 class="rule-title">1. Board Setup</h3>
      <ul class="rules-list">
        <li>Standard map size is 120cm x 80cm</li>
        <li>Define grid sectors based on the board/table dimensions.</li>
        <li>Each sector is 10cm x 10cm</li>
        <li>
          Grid columns are defined by numbers, while rows are defined by
          letters.
        </li>
        <li>
          Thus a sector will be defined by a word letter combination. E.g G4
        </li>
        <li>Three initial areas are defined based on the sectors.</li>
        <li style="list-style: none">
          <ul style="margin-left: 2rem">
            <li>1/4 Player A Area</li>
            <li>2/4 Neutral Zone</li>
            <li>1/4 Player B Area</li>
          </ul>
        </li>
      </ul>
      <h3 class="rule-title">2. Terrain Setup</h3>
      <ul class="rules-list">
        <li>
          Players each place a control point within their initial play area.
        </li>
        <li>There are two kinds of structures. Props and control points.</li>
        <li>Players take turns placing props.</li>
        <li>Players take turns placing control points in the neutral area.</li>
        <li>A sector may not contain two structures at the same time.</li>
        <li>
          A structure may not be placed in a sector adjacent to a sector that
          already contains a structure.
        </li>
      </ul>
    </div>
  </div>
  <div class="rules-container">
    <h2 class="rule-section-title">Turn Phases</h2>
    <div class="rule">
      <h3 class="rule-title">1. Upkeep Phase</h3>
      <ul class="rules-list">
        <li>The player receives resoures from all their control points.</li>
      </ul>
    </div>
    <div class="rule">
      <h3 class="rule-title">2. Deployment Phase</h3>
      <ul class="rules-list">
        <li>
          The player may spend their available resources to deploy units from
          their reserve within sectors that contain control points under their
          command.
        </li>
      </ul>
    </div>
    <div class="rule">
      <h3 class="rule-title">3. Artillery Phase</h3>
      <ul class="rules-list">
        <li>
          The player may use their artillery to define bombardment zones that
          are within range of their deployed artillery pieces.
        </li>
        <li>
          Units within a bombardment zone have the options to attempt to escape
          the bombardment.
        </li>
        <li>
          Units which have used movement within this phase cannot move during
          the next action phase.
        </li>
        <li>
          The player rolls to attack with each artillery piece and hits are
          immediately assigned.
        </li>
      </ul>
    </div>
    <div class="rule">
      <h3 class="rule-title">4. Action Phase</h3>
      <ul class="rules-list">
        <li>Each unit may perform either</li>
        <li style="list-style: none">
          <ul style="list-style: circle; margin-left: 2rem">
            <li>One Movement and One Action</li>
            <li>Two Movements</li>
            <li>Two Actions</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="rule">
      <h3 class="rule-title">4.1 Movement</h3>
      <ul class="rules-list">
        <li>
          The player may move each of their units up to the maximum movement
          value described on their unit card.
        </li>
        <li>
          Units may move twice their movement value, but they will not be able
          to attack on the same round.
        </li>
      </ul>
    </div>
    <div class="rule">
      <h3 class="rule-title">4.2 Actions</h3>
      <ul class="rules-list">
        <li>
          The player may choose to execute an action command for any of their
          units.
        </li>
        <li>
          A unit may execute only one action each round, unless specified
          otherwise.
        </li>
        <li>Both attacks and special abilities are considered actions.</li>
        <li>The attacking units roll combat for each miniature.</li>
        <li>The defending units roll combat for each miniature if possible.</li>
        <li>Mark down each hit for each unit.</li>
        <li>Hits are assigned once both units have executed their attacks.</li>
      </ul>
    </div>
  </div>
</div>
