h1 {
  color: $color-white;
  font-size: 4rem;
}

.rule-section-title {
  font-size: 3rem;
  width: 500px;
  margin-bottom: 2rem;
}

.rule-title {
  font-size: 2.4rem;
  width: 440px;
}

.rules-list {
  font-size: 2rem;
  color: $color-white;
  margin: 1rem 2rem;
}

.rule {
  margin: 4rem 0;
}

.game-rulebook-container {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
}
